#ignore all logs
*.log
*.exe
*.obj
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*.zip
*.log
*.lib
*.suo
*.ide
*.ide-shm
*.ide-wal
*.cache
*.lnk
*.lock
*.pdb
*.txt
*.suo
*.dot
*.dot.
*.md5
*.xml
*.js
*.rtf
*.tex
*.temp
*.3
*.html
*.tmp
*.css
*.swp
Release
bin
packages
TECPOST_LIB/obj/Debug
BancoDados/obj
